*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.box{
  height: 400px;
  width: 400px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This centers the box */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #734b6d;
  color: white;
  border-radius: 20px;
}
.search-box {
  position: absolute;
  top: 10px;
  
}

.search-box input {
  width: 150px;
  padding: 15px 10px;
  border-radius: 20px;
  outline: none;
  font-size: 17px;
}

.info {
  display: relative;
}
.temp {
  display: absolute;
  margin: 10px;
}
.tempmin_max{
  margin: 5px;
  }

.humid {
  margin: 10px;
}
.pressure {
  margin: 10px;
}